<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <meta name="description" content="L'UTT Arena 2015 ouvre ses portes aux Cube !">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="UTT Arena 2015">
        <meta property="og:site_name" content="UTT Arena 2015">
        <meta property="og:url" content="http://arena.utt.fr/">
        <meta property="og:description" content="Les 4-5-6 décembre 2015 se déroule au Parc des Expositions de Troyes l'UTT Arena, une « LAN Party » (un rassemblement de passionnés du jeu-vidéo, qui viennent jouer ensemble durant tout un week-end). Cet évènement est composé non seulement de compétitions de haut-niveau (« Spotlights ») mais aussi d'animations diverses, de tournois organisés par les joueurs eux-même, un coin détente, de la nourriture sympa ; Bref, tout pour passer un week-end exceptionnel ! L'UTT Arena est organisée par l'UNG : une association de l'Université de Technologie de Troyes.">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="fr_FR">
        <meta property="article:author" content="https://github.com/ungdev">
        <meta property="article:publisher" content="https://www.facebook.com/assouttnetgroup">
        <meta property="og:image" content="http://arena.utt.fr/img/oggamers.jpg">
        <meta property="og:image" content="http://arena.utt.fr/img/bg7.jpg">
        <meta property="og:image" content="http://arena.utt.fr/img/oglogo.png">

        <title>{% block title %}UTT Arena 2015{% endblock %}</title>
        {% stylesheets
        'vendors/iCheck/skins/flat/aero.css'
        'vendors/normalize.css/normalize.css'
        'vendors/selectize/dist/css/selectize.css'
        'vendors/tether/dist/css/tether.min.css'
        'vendors/tether-drop/dist/css/drop-theme-arrows.min.css'
        'css/*.css'
         filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}

        {% javascripts
        'vendors/jquery/dist/jquery.min.js'
        'vendors/noty/js/noty/packaged/jquery.noty.packaged.min.js'
        'vendors/jquery.easing/js/jquery.easing.min.js'
        'vendors/parallax.js/parallax.js'
        'vendors/iCheck/icheck.js'
        'vendors/microplugin/src/microplugin.js'
        'vendors/sifter/sifter.min.js'
        'vendors/selectize/dist/js/selectize.min.js'
        'vendors/tether/dist/js/tether.min.js'
        'vendors/tether-drop/dist/js/drop.min.js'
        'vendors/tether-tooltip/dist/js/tooltip.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <div id="background-modal"></div>
        <!--[if lt IE 8]>
        <p class="browserupgrade">Vous utilisez un navigateur <strong>obsolète</strong>. Veuillez le <a href="http://browsehappy.com/">mettre à jour</a> pour améliorer votre expérience.</p>
        <![endif]-->
        {% image 'img/logo.png' output='/images/logo.png' %}
        <img src="{{ asset_url }}"  width="420" id="logo" alt="UTT Arena logo"/>
        {% endimage %}
        <header>
            <h1><a href="/">UTT Arena 2015</a></h1>
            <nav>
                <ul>
                    <li>
                        <div class="left-mask"></div>
                        <a href="{{ path('homepage') }}#event">Évènement</a><div class="separator"></div>
                    </li>
                    <li><a href="{{ path('homepage') }}#infos">Infos pratiques</a><div class="separator"></div></li>
                    <li><a href="{{ path('homepage') }}#partners">Partenaires</a><div class="separator"></div></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('profile') }}#">Profil</a><div class="separator"></div></li>
                        <li><a href="{{ path('logout') }}#">Déconnexion</a></li>
                    {% else %}
                        <li><a href="{{ path('homepage') }}#register">Inscription</a><div class="separator"></div></li>
                        <li><a href="{{ path('homepage') }}#" data-modal="login-modal">Connexion</a></li>
                    {% endif %}

                </ul>
            </nav>

            <nav id="scrollMenu">
                <ul>
                    <li id="scrollMenuTop">
                        {% image 'img/logo60White.png' output='/images/logo.png' %}
                        <img src="{{ asset_url }}" alt="UTT Arena 2015" height="48" width="56"/>
                        {% endimage %}
                        <div class="separator"></div>
                    </li>
                    <li><a href="{{ path('homepage') }}#event">Évènement</a><div class="separator"></div></li>
                    <li><a href="{{ path('homepage') }}#infos">Infos pratiques</a><div class="separator"></div></li>
                    <li><a href="{{ path('homepage') }}#partners">Partenaires</a><div class="separator"></div></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('profile') }}#">Profil</a><div class="separator"></div></li>
                        <li><a href="{{ path('logout') }}#">Déconnexion</a></li>
                    {% else %}
                        <li><a href="{{ path('homepage') }}#register">Inscription</a><div class="separator"></div></li>
                        <li><a href="{{ path('homepage') }}#" data-modal="login-modal">Connexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <div id="cookies">
            En naviguant sur notre site, vous acceptez l’utilisation de cookies pour vous proposer une navigation optimale et nous permettre de réaliser des statistiques de visites.
            <a href="#">&times;</a>
            <script id="cookiesScript">
                var $cookies       = document.getElementById('cookies');
                var $cookiesScript = document.getElementById('cookiesScript');

                if (localStorage.hasOwnProperty('cookie')) {
                    $cookies.parentNode.removeChild($cookies);
                }
                $cookiesScript.parentNode.removeChild($cookiesScript);
            </script>
        </div>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('AppBundle:Security:loginForm')) }}
        {% endif %}
        {% block body %}{% endblock %}
        <section class="module parallax parallax-7"></section>
        <section class="module content">
            <div class="panel container footer">
                <a href="https://facebook.com/UTTArena">
                    {% image 'img/facebook.png' output='/images/facebook.png' %}
                    <img src="{{ asset_url }}"  alt="Facebook"/>
                    {% endimage %}
                </a>
                <a href="https://twitter.com/UTTArena">
                    {% image 'img/twitter.png' output='/images/twitter.png' %}
                    <img src="{{ asset_url }}"  alt="twitter"/>
                    {% endimage %}
                </a>
                <a href="https://youtube.com/UTTNetGroup">
                    {% image 'img/youtube.png' output='/images/youtube.png' %}
                    <img src="{{ asset_url }}"  alt="Youtube"/>
                    {% endimage %}
                </a>
                <a href="mailto:arena@utt.fr">
                    {% image 'img/email32.png' output='/images/email.png' %}
                    <img src="{{ asset_url }}"  alt="Email"/>
                    {% endimage %}
                </a>
                <span class="space"></span>
                <a href="{{ path('terms') }}">Conditions générales</a>
                <span class="space"></span>
                <a href="{{ path('privacy') }}">Vie privée/Cookies</a>
            </div>
        </section>
        {% javascripts
            'js/*.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% if app.session.flashbag %}
            <script>
                {% for type, messages in app.session.flashbag.all %}
                    {% for  message in  messages %}
                    noty({timeout: 10000, layout: 'topRight', text: '{{ message|e('js') }}', 'type': '{{ type }}'});
                    {% endfor %}
                {% endfor %}
            </script>
        {% endif %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
