{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section class="module parallax parallax-1"></section>
        <section class="module content">
            <div class="panel container account" id="account">
                <h1>Profil</h1>
                <ul class="tabs accountLinks">
                    <li class="active">Informations personnelles</li>
                    <li>Paiement</li>
                    <li>Spotlight</li>
                </ul>
                <div class="content player">
                    <div class="information {{ editMode ? 'edit' }}" id="information">
                        {{ form_start(editForm) }}
                        <dl>
                            <dt>Pseudonyme</dt>
                            <dd>
                                <span>{{ app.user.nickname }}</span>
                                {{ form_row(editForm.nickname) }}
                            </dd>
                            <dt>Email</dt>
                            <dd>
                                <span>{{ app.user.email }}</span>
                                {{ form_row(editForm.email) }}
                            </dd>
                            <dt>Nom</dt>
                            <dd class="name">
                                <span>{{ app.user.firstName }} {{ app.user.lastName }}</span>
                                {{ form_row(editForm.firstName) }} {{ form_row(editForm.lastName) }}
                            </dd>
                            <dt>Téléphone</dt>
                            <dd>
                                <span>{{ app.user.phone }}</span>
                                {{ form_row(editForm.phone) }}
                            </dd>
                        </dl>

                        <button class="button" id="edit" type="button">Éditer son profil</button>
                        <div class="editButtons">
                            <button class="button" type="submit">Sauvegarder</button>
                            <button class="button" type="button" id="cancel">Annuler</button>
                        </div>
                        {{ form_end(editForm) }}
                    </div>
                    <script>
                        document.getElementById('edit').onclick = function () {
                            document.getElementById('information').classList.add('edit');
                        };
                        document.getElementById('cancel').onclick = function () {
                            document.getElementById('information').classList.remove('edit');
                        };
                    </script>
                    <div class="password">
                        {{ form_start(passwordFrom) }}
                        {{ form_row(passwordFrom) }}
                        <button class="button" type="submit">Modifier son mot de passe</button>
                        {{ form_end(passwordFrom) }}
                    </div>
                </div>
                <div class="content payment">
                    {% set ticket = app.user.ticket %}
                    {% if not ticket %}
                        {% if payable %}
                        {{  render(controller('AppBundle:Payment:paymentForm', {'originalRequest': app.request})) }}
                            {% else %}
                            <p>Vous ne pouvez plus acheter votre ticket.</p>
                            {% endif %}
                    {% else %}
                        <p>Votre ticket est payé.</p>

                        <p>Vous avez payé {{ ticket.price.formatted }}.</p>
                        <p>
                            {% if ticket.tshirt %}
                                Vous avez payer un tshirt en taille {{ ticket.tshirt.size }}.
                            {% else %}
                                    Vous n'avez pas souhaitez réservé un tshirt.
                                    Vous pourrez toujours en aqcuérir un lors de l'évenement (Dans la limite des stocks disponible).

                            {% endif %}
                        </p>
                    {% endif %}
                </div>
                <div class="content spotlight">
                    {% if app.user.ticket %}
                        {% if app.user.spotlightGame is null %}
                                {%  include ':spotlight:gameSelector.html.twig' %}
                            {% else %}
                                {%  include ':spotlight:state.html.twig' %}
                            {% endif %}
                    {% else %}
                        <p>Vous ne pouvez pas encore choisir votre jeu spotlight. Votre place n'est pas encore payée.</p>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
