<p>Votre place coûte {{ ticketPrice.formatted }}. Ce prix n'est valable qu'en prévente, alors dépéchez-vous !</p>

<p>
    Il est possible d'acheter un tee-shirt en même temps que votre ticket en prévente pour 8 €. L'avantage est d'être sûr que votre taille soit disponible !
    Sinon, vous pourrez toujours l'acheter sur place pour 10 €, dans la limite des stocks et des tailles disponibles.
</p>

<p>
    Attention ! Une fois votre place payée, il n'est plus possible de pré-commander un tee-shirt et seule la vente sur place sera possible !<br>
    De plus, il ne sera plus possible de pré-commander des tee-shirts environ 3 semaines avant l'UA, histoire de nous laisser le temps de passer la commande à notre fournisseur et de nous faire livrer !
</p>
<p>
    <img src="img/tshirt/homme.jpg" alt="Avant Homme" class="teeshirt"> <img src="img/tshirt/femme.jpg" alt="Avant Femme" class="teeshirt"> <img src="img/tshirt/dos_joueur.jpg" alt="Dos" class="teeshirt"> <img src="img/tshirt/players_1024.jpg" alt="Logo" class="teeshirt">
</p>

<noscript>
    <p>Vous devez avoir Javascript d'activé pour pouvoir payer votre place</p>
</noscript>

{{ form_start(paymentForm) }}
    <div>
        {{ form_errors(paymentForm.tshirt) }}
        <label class="tshirt_checkbox">
            {{ form_widget(paymentForm.tshirt) }}
            Voulez-vous réserver un tshirt ? Il coute {{ tshirtPrice.formatted }}.
        </label>
    </div>
    <div id="tshirtData" style="display: none">
        {{ form_row(paymentForm.tshirtSize) }}
        {{ form_row(paymentForm.tshirtGender) }}
    </div>
    <button id="pay">Payer</button>
{{ form_end(paymentForm) }}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
    var stripeButton = $('#pay');
    var tshirtData = $('#tshirtData');
    var checkbox = $("input[type=checkbox]");
    var gender = $('input[name="payment[tshirtGender]"]');
    var size = $('input[name="payment[tshirtSize]"]');
    var amount = {{ ticketPrice.amount }};
    checkbox.on('ifChecked', function () {
        tshirtData.show();
        amount = {{ tshirtPrice.amount + ticketPrice.amount }};
    });

    checkbox.on('ifUnchecked', function () {
        tshirtData.hide();
        amount = {{ ticketPrice.amount }};
    });

    stripeButton.on('click', function(e) {
        if (checkbox.is(':checked') && (!gender.is(':checked') || !size.is(':checked'))) {
            e.preventDefault();
            noty({timeout: 10000,
                layout: 'topRight',
                text: 'Vous devez choisir une taille et une coupe', 'type': 'error'});
            return;
        }
        StripeCheckout.open({
            key: '{{ key }}',
            image: '{{ asset('img/logo.png') }}',
            name: 'UTT Arena',
            description: 'Place pour la LAN',
            currency: 'EUR',
            panelLabel: 'Payer {% verbatim %}{{amount}}{% endverbatim %}',
            allowRememberMe: false,
            amount: amount,
            billingAddress: true,
            zipCode: true,
            token: function(token) {
                var $input = $('<input type=hidden name=stripeToken />').val(token.id);
                $('form').append($input).submit();
            }
        });
        e.preventDefault();
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function() {
        handler.close();
    });
</script>
