<div class="gameSelector">

<p class="info">Vous n'avez pas l'obligation de choisir un jeu pour participer à la UA mais il est nécessaire de l'avoir fait pour participer au tournois Spotlight.</p>
<p class="danger">Ce choix est défiinitif.</p>

    <div class="games">
{% for game in games %}
    <article class="game {{ game.selectable ?: 'tipso' }}" {% if not game.selectable %} title="Il n'y a plus de place disponible" {% endif %}>
    <div>
        <figure>
            <img src="{{ asset("/img/" ~ game.slug ~ '.jpg') }}"/>
            <figcaption class="caption">
                <em>{{ game }}</em>
                <p> {{ game.selectors|length }} / {{ game.maximum }} {{ game is teamSpotlightGame ? 'équipes' : 'joueurs' }}</p>
            </figcaption>
        </figure>
    </div>
        <footer>
            <button data-modal="{{ game.slug }}-modal" class="button">Liste des joueurs</button>
            {% if game.selectable %}
                <a href="{{ path('select', {'game' : game.slug}) }}" class="button green" title="{{ game.name }}">Choisir</a>
            {% endif %}
        </footer>
    </article>
    {% include ':spotlight:list.html.twig' %}
{% endfor %}
</div>
</div>