<div class="modal" id="{{ game.slug }}-modal">
    <div class="modal-header">{{ game }}</div>
    <a href="#" class="close">&times;</a>
    <div class="modal-body">
        {% set count = game.selectors|length %}
        {% if game.selectors|length > 0 %}
            <dl class="selectorsList {{ game is teamSpotlightGame ? 'team' : 'single'  }}">
                <dt>{{ game is teamSpotlightGame ? 'Nom de l\'équipe' : 'Pseudonyme du joueur' }}</dt>
                {% for selector in game.selectors %}
                    <dd>
                        {% if game is teamSpotlightGame %}
                            <span id="{{ selector.slug }}">{{ selector }}</span>
                            <script>

                            </script>
                        {% else %}
                            {{ selector }}
                        {% endif %}

                    </dd>
                {% endfor %}
            </dl>
            <footer>
                Il y a {{ count }} {{ game is teamSpotlightGame ? 'équipe' : 'joueur' }}{{ count > 1 ? 's' : '' }}
                inscrite{{ count > 1 ? 's' : '' }} pour {{ game.maximum }} places disponibles. Il reste donc {{ game.maximum - count }} places pour ce jeu.
            </footer>
            {% else %}
            <p> {% if game is teamSpotlightGame %}
                Aucune équipe n'est consituée pour {{ game.name }}.
                {% else %}
                    Aucun joueur n'a choisi {{ game.name }}.
                {% endif %}
                N'hésitez pas !</p>
        {% endif %}
    </div>
</div>